@import "variables";
@import "mixins";
.about {
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5rem;
}

.about__stack {
  @include flex-container('vertical');
  justify-content: center;
  width: 250px;
  height: 250px;
  margin-left: 100px;
}

.about__description {
 font-size: 14px;
 font-family: $avenirRegularFont;
}

.tagColor {
  color: $bg-color-primary;
}