@import "mixins";
@import "variables";
.cardContainer {
  @include flex-container('vertical');
  gap: 0.5rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 5px solid $bg-color-primary;
  padding: 2rem;
  font-family: $avenirRegularFont;
  min-width: 30%;
}


.cardTitle {
  font-size: 1.5rem;
  color: $bg-color-primary;
}

.divider {
  border:  1px solid;
  line-height: 0px;
  margin-bottom: 1rem;
}