@import "mixins";
@import "variables";
.experience {
 margin-top: -50rem;
}
.experience__title {
  padding: 2rem;
  font-family: $avenirRegularFont;
  font-size: 80px;
}
.experience__cards {
  @include flex-container('horizontal');
  gap: 3rem;
}